/**
 * ページ全体
 */
html {
  height: 100%; /* footerを下部に固定するために必要 */
}
body {
  color: #222;
  height: 100%; /* footerを下部に固定するために必要 */
  position: relative; /* footerを下部に固定するために必要 */
  font-family: Meiryo, "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
  word-wrap: break-word;
}
.wrap-for-fixedfooter { /* footerを下部に固定するための要素 */
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100%;
}
.contents {
  margin: 0 auto;
  max-width: 960px;
  padding-top: 20px;
  padding-bottom: 50px; /* 下余白はfooterの高さと同じに */
}
/* for Mobile */
@media (max-width: 767px) {
  .contents {
    padding-top: 60px;
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% - 6px - 6px);
  }
}

/**
 * アンカー
 */
/* リンク画像のマウスオーバー時の処理 */
a,
img {
  transition: all 0.3s ease;
}
a {
  color: #28a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a i {
  font-size: 120%;
  line-height: 1;
  margin-left: 5px;
}

small {
  font-size: 0.8em;
  font-weight: normal;
  padding-left: 4px;
  padding-right: 4px;
}

section {
  padding-bottom: 30px;
}
p {
  margin-bottom: 1em;
  line-height: 1.4;
}
.page-title {
  border-bottom: #ccc 2px solid;
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px 0 30px;
  padding-bottom: 8px;
}
.section-title {
  border-bottom: #ccc 1px solid;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 8px;
}
.subheading {
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
.caption-img {
  font-size: 0.8em;
}

.dl-oneline > dt,
.dl-oneline > dd {
  float: left;
}

/**
 * カラム配置
 */
.img-row-wrapper img,
.img-single-wrapper img {
  height: auto;
  width: 100%;
}
/* 1列に1枚のみ */
.img-640 {
  max-width: 640px;
}
/* for PC */
@media (min-width: 768px) {
  .img-row-container {
    overflow: hidden;
  }
  .img-row-wrapper {
    float: left;
  }
  .img-single-wrapper {
    margin: 0 auto 1em;
  }
  /* 1列に3枚 */
  .img-300-wrapper {
    margin-left: -3.125%;
  }
  .img-300 {
    margin-left: 3.03030303030303%;
    width: 30.3030303030303%;
  }
  /* 1列に2枚 */
  .img-450-wrapper {
    margin-left: -6.25%;
  }
  .img-450 {
    margin-left: 5.882352941176471%;
    width: 44.11764705882353%;
  }
}
/* for Mobile */
@media (max-width: 767px) {
  .img-row-wrapper {
    margin: 1em auto;
  }
  .img-300 {
    max-width: 300px;
  }
  .img-450 {
    max-width: 450px;
  }
}

/**
 * clearfix
 */
.clearfix:after {
  clear: both;
  content: '';
  display: block;
}

/**
 * ヘッダ
 */
header {
  background-color: #ace;
  color: #222;
  top: 0;
  width: 100%;
  z-index: 10;
}
.site-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}
.site-title > a {
  color: inherit;
  text-decoration: none;
}
.site-title > a > small {
  font-size: 0.7em;
  font-weight: normal;
  padding-right: 10px;
}
/* for PC */
@media (min-width: 768px) {
  .site-title {
    margin: 0 auto;
    padding: 24px 0 18px;
    max-width: 960px;
  }
  .globalnavi > ul {
    list-style-type: none;
    margin: 0 auto;
    max-width: 960px;
    padding: 0;
    position: relative;
  }
  .globalnavi > ul > li {
    display: block;
    float: left;
    position: relative;
    width: 25%;
  }
  .globalnavi > ul > li > a {
    color: inherit;
    display: block;
    font-size: 1em;
    padding: 20px 0;
    text-align: center;
  }
  .globalnavi > ul > li > a:hover {
    background-color: #cef;
    text-decoration: none;
  }
  /* モバイル向け要素は、PC向けでは非表示にする */
  .globalnavi .mobile,
  .globalnavi .fa-angle-right,
  .toggle-menu {
    display: none;
  }
}
/* for Mobile */
@media (max-width: 767px) {
  header {
    position: fixed;
    border-bottom: 1px solid #999;
  }
  .site-title {
    max-width: 240px;
    height: 59px;
    line-height: 59px;
    margin-left: 6px;
    margin-right: 48px;
  }
  .site-title img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .globalnavi {
    position: relative;
  }
  .globalnavi > ul {
    background: #ace;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
  }
  .globalnavi > ul > li {
    border-top: 1px dashed #666;
  }
  .globalnavi > ul > li > a {
    color: inherit;
    display: block;
    padding: 8px 12px;
  }
  .globalnavi > ul > li > a:hover {
    background-color: #cef;
    text-decoration: none;
  }
  .globalnavi .fa-angle-right {
    margin-right: 5px;
  }
  /* トグルボタン */
  .toggle-menu {
    transition-delay: 0s;
    background: inherit;
    color: #444;
    display: block;
    height: 59px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: 48px;
    text-align: center;
  }
  .toggle-menu:hover,
  .toggle-menu-open:hover {
    text-decoration: none;
  }
  .toggle-menu > .fa-bars {
    display: block;
    font-size: 22px;
    padding: 18px 0 19px;
    line-height: 1;
    margin-left: 0;
  }
}
/**
 * フッタ
 */
footer {
  background-color: #ace;
  bottom: 0;
  font-size: 0.9em;
  height: 50px;
  margin-top: 30px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.footer-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  position: relative;
}
.footer-inner > ul {
  box-shadow: 16px 0 16px #ace;
  margin-bottom: 0;
  position: absolute;
  z-index: 10;
}
.footer-inner > ul > li {
  color: #fff;
  display: inline-block;
}
.footer-inner a {
  background: #ace;
  color: #222;
  display: block;
  line-height: 50px;
  padding: 0 7px;
}
.footer-inner i {
  margin-right: 5px;
}
.copyright {
  display: block;
  line-height: 50px;
  padding-right: 12px;
  position: absolute;
  right: 0;
}
/* for PC */
@media (min-width: 768px) {
  .footer-inner > ul {
    display: block;
  }
}
/* for Mobile */
@media (max-width: 767px) {
  .footer-inner > ul {
    display: none;
  }
}

/**
 * 概要説明用テーブル
 */
.table-profile,
.table-profile th,
.table-profile td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.table-profile th,
.table-profile td {
  padding: 10px;
  text-align: left;
  line-height: 1.4;
}
.table-profile {
  margin-bottom: 30px;
  width: calc(100% - 1px - 1px);
}
.table-profile th {
  background: #f6f6f6;
}
th.table-profile-heading {
  background: #fff;
  font-weight: bold;
}

/**
 * プライバシーポリシー
 */
.privacy-container dt {
  font-weight: bold;
  margin: 2em 0 0.5em;
}

.privacy-container dt,
.privacy-container dd {
  line-height: 1.4;
}

/**
 * Googleマップ
 * レスポンシブ対応
 * 参考: http://inthecom.net/?p=718
 */
.gmap-container {
  max-width: 640px;
  margin: 1em auto;
}
.gmap-wrapper {
  border: 1px solid #ccc;
  height: 0;
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
}
.gmap-wrapper iframe,
.gmap-wrapper object,
.gmap-wrapper embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/**
 * 原稿作成用
 * 注意: 本番では使用しないでください
 */
.draft-memo {
  background: #fee;
  border: 1px solid #900;
  color: #900;
  line-height: 1.4;
  padding: 4px;
  margin: 8px 0;
}
.draft-memo b {
  color: red;
  font-weight: bold;
}